
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    </head>
    <script>
    
    </script>
    <body style="padding: 0; margin:50px 0; background:#f4f4f4;">
        <div style="width:50%; margin:auto; background:#fff;">
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-top: 5px solid #ed3237;">
                <tr>
                    <td class="emailHead" align="center" style="padding: 0; padding-top: 20px;">
                        <img src="http://www.myaccountsapp.in/assets/images/feature-icon/final_logo.png" width="150">
                        <h2 style="color: #111; letter-spacing: 1px; font-size: 30px; margin: 10px 0 0 0; font-family: 'Lato', sans-serif; font-weight: 800;">Hello,</h2>
                        <h4 style="font-family: 'Lato', sans-serif;margin-bottom: 5px; font-size:16px; color: #3f3f3f;">You are invited to be an SubUser by {{userName}} for the company {{companyName}} in My Accounts App</h4>
                        
                        <h4 id='passCheck'style="font-family: 'Lato', sans-serif; margin-top:15px; margin-bottom:15px; font-size:24px; color: #3f3f3f; font-weight: 900;">Use this password to Login My Accounts App <b>{{Password}}</b> </h4>

                        <h4 style="font-family: 'Lato', sans-serif;margin-top: 15px; font-size:16px; color: #3f3f3f;">To Login My Accounts App Kindly Use the click Login below.</h4>
                        <a href="https://vikramapp.colanapps.in/#/login">Login</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <p style="color: #414141;font-family: 'Lato', sans-serif;line-height:13px; font-size:18px; font-weight: 600;    margin-top: 0; margin-bottom: 12px;">Thanks!</p>
                        <p style="color: #414141;font-family: 'Lato', sans-serif;line-height:13px; font-size:18px; font-weight: 600;    margin-top: 0; margin-bottom: 30px;">Colan Infotech Team</p>
                    </td>
                </tr>
            </table>
        </div>
        <table width="320" cellpadding="0" cellspacing="0" border="0" align="center" style="margin-top: 30px;">
            <tr>
               <td align="center" width="50">
                    <a href="https://www.facebook.com/MyAccountsApp1" target="_blank"><img src="http://www.myaccountsapp.in/assets/images/fb.png" style="width:12px;max-width:21px;"></a>
                </td>
                <td align="center" width="50">
                    <a href="https://www.instagram.com/myaccountsapp1/" target="_blank"><img src="http://www.myaccountsapp.in/assets/images/insta.png" style="width:25px;max-width:25px;"></a>
                </td>
                <td align="center" width="50">
                     <a href="https://twitter.com/myaccountsapp1" target="_blank"><img src="http://www.myaccountsapp.in/assets/images/twitter.png" style="width:25px;max-width:25px;"></a>
                </td>
            </tr>
        </table>
    </body>
</html>